<?xml version="1.0" encoding="utf-8"?>
<DataType Key="905efe81-9e5a-4a0a-9136-1dea6647c4dd" Alias="Category Picker" Level="1">
  <Info>
    <Name>Category Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "dd004667-695a-4529-8724-9865c16a9ef8",
  "maxNumber": 2,
  "minNumber": 0
}]]></Config>
</DataType>