<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f38f0ac7-1d27-439c-9f3f-089cd8825a53" Alias="Category" Level="1">
  <Info>
    <Name>Category</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Breakfast \u0026 Brunch",
    "Lunch Specials",
    "Dinner Spots",
    "Pizza \u0026 Pasta",
    "Street Food",
    "Burgers \u0026 Sandwiches",
    "Mexican",
    "Asian kitchen",
    "Indian kitchen",
    "Vegan \u0026 Vegetarian",
    "Gluten-Free Options",
    "Mediterranean",
    "Local Favorites",
    "Hidden Gems",
    "Healthy Choices",
    "Coffee \u0026 Tea",
    "Desserts"
  ],
  "multiple": true
}]]></Config>
</DataType>