<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8167a2a5-8ce9-49c8-8c98-aa3bfe1527da" Alias="Home Page - Occasion Category - Content Picker Property Editor UI" Level="1">
  <Info>
    <Name>Home Page - Occasion Category - Content Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "fb155024-2658-45f5-bda8-0b5a69c3f781",
  "maxNumber": 10,
  "minNumber": 0
}]]></Config>
</DataType>