<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0f15c17f-e920-454c-b919-5c19d4cbf4e9" Alias="Homepage - Category Intro - Content Picker Property Editor UI" Level="1">
  <Info>
    <Name>Homepage - Category Intro - Content Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "dd004667-695a-4529-8724-9865c16a9ef8",
  "maxNumber": 20,
  "minNumber": 0
}]]></Config>
</DataType>