<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1dd7fb6e-2b4e-4d41-ac8f-ffaeb3e1c155" Alias="Homepage - Slider Restaurants - Content Picker Property Editor UI" Level="1">
  <Info>
    <Name>Homepage - Slider Restaurants - Content Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "355e1314-5341-49e9-9a16-de71cb9612c5",
  "ignoreUserStartNodes": false,
  "maxNumber": 10,
  "minNumber": 0,
  "startNode": {
    "type": "content"
  }
}]]></Config>
</DataType>