<?xml version="1.0" encoding="utf-8"?>
<DataType Key="93083329-eaff-410f-9ac4-bb06854a0508" Alias="Homepage - Weekly Favorite Intro - Content Picker Property Editor UI" Level="1">
  <Info>
    <Name>Homepage - Weekly Favorite Intro - Content Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "355e1314-5341-49e9-9a16-de71cb9612c5",
  "maxNumber": 5,
  "minNumber": 0
}]]></Config>
</DataType>