<?xml version="1.0" encoding="utf-8"?>
<DataType Key="916c3fdb-a843-4b6d-9129-6b811ce56e27" Alias="Occasion Type" Level="1">
  <Info>
    <Name>Occasion Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Family",
    "Date Night",
    "Friends"
  ]
}]]></Config>
</DataType>