<?xml version="1.0" encoding="utf-8"?>
<DataType Key="24fc22ba-7736-44a2-a6a5-52fbe5de207f" Alias="Occasion -  - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Occasion -  - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 10,
  "min": 1
}]]></Config>
</DataType>