<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d466a4fa-998c-4f7a-b554-535ac7b53c3b" Alias="Occasion Picker" Level="1">
  <Info>
    <Name>Occasion Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "fb155024-2658-45f5-bda8-0b5a69c3f781",
  "maxNumber": 2,
  "minNumber": 0
}]]></Config>
</DataType>