<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7d461626-9439-45d9-b0bf-880864d95c01" Alias="Restaurant Page - Occasion Type - Dropdown Property Editor UI" Level="1">
  <Info>
    <Name>Restaurant Page - Occasion Type - Dropdown Property Editor UI</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Family",
    "Date Night",
    ""
  ]
}]]></Config>
</DataType>