<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4d12b04b-e553-48c6-adb7-9e239233ea08" Alias="Restaurant of the Week - Featured Restaurant - Content Picker Property Editor UI" Level="1">
  <Info>
    <Name>Restaurant of the Week - Featured Restaurant - Content Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "355e1314-5341-49e9-9a16-de71cb9612c5",
  "maxNumber": 0,
  "minNumber": 1
}]]></Config>
</DataType>