<?xml version="1.0" encoding="utf-8"?>
<DataType Key="86d1047e-99a6-4583-a14a-1f83a85f6421" Alias="Restaurant Page - Reviews - Multiple Text String Property Editor UI" Level="1">
  <Info>
    <Name>Restaurant Page - Reviews - Multiple Text String Property Editor UI</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 5,
  "min": 0
}]]></Config>
</DataType>