<?xml version="1.0" encoding="utf-8"?>
<DataType Key="59fb37b6-6bdd-489c-96e4-8e3a96b0b89b" Alias="Restaurant Page - Email - Email Property Editor UI" Level="1">
  <Info>
    <Name>Restaurant Page - Email - Email Property Editor UI</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.EmailAddress</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "email"
}]]></Config>
</DataType>