<?xml version="1.0" encoding="utf-8"?>
<DataType Key="90ca2b72-89ce-460a-9116-e4afc72b8839" Alias="Reviews List" Level="1">
  <Info>
    <Name>Reviews List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f378f76f-51ac-43ee-9da1-d8d2e89247cf",
      "label": "Review Item",
      "settingsElementTypeKey": "f378f76f-51ac-43ee-9da1-d8d2e89247cf"
    }
  ]
}]]></Config>
</DataType>