<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a9e900fc-452e-4cee-ba60-747dd9ca8a1f" Alias="Seasonal Tags" Level="1">
  <Info>
    <Name>Seasonal Tags</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Summer",
    "Winter"
  ],
  "multiple": true
}]]></Config>
</DataType>