@using System.Linq
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<object>
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper
@{
    var allRestaurants = UmbracoHelper
                   .ContentAtRoot()
                   .FirstOrDefault(x => x.ContentType.Alias == "restaurantListings");

    var actionUrl = allRestaurants?.Url() ?? Context.Request.Path;

    var searchTerm = (Context.Request
                        .Query["searchTerm"]
                        .FirstOrDefault() ?? "")
                     .Trim(); 
}

<form class="d-flex align-items-center search-bar" method="get" action="@actionUrl" style="max-width: 400px; border-radius: 50px; overflow: hidden; border: 1px solid #3b5998;">
  <input 
    class="form-control border-0" 
    type="search" 
    name="searchTerm"
    value="@searchTerm" 
    placeholder="Search restaurants/occasions" 
    style="min-width: 270px; border-radius: 50px 0 0 50px; 
    padding: 10px 20px; box-shadow: none;"
  />
  <button 
    class="btn d-flex align-items-center justify-content-center"
    type="submit" 
    style="
      background-color: #3b5998;
      color: white;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      margin-right: 5px;
      margin-left: -10px;
    "
    aria-label="Search"
  >
    <i class="bi bi-search"></i>
  </button>
</form>


