<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dd004667-695a-4529-8724-9865c16a9ef8" Alias="category" Level="1">
  <Info>
    <Name>Category</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>categoryPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4343ec51-1709-476b-a863-480a0006d0bf">categoryPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="dbe0d336-0f0e-43dd-9b9d-5318349ff241" SortOrder="0">home</ContentType>
    <ContentType Key="e5e2143e-3a76-4978-af51-6d0d37d86f3a" SortOrder="1">restaurantListings</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>1986079a-2667-449b-98ce-4e7fbe6e61b8</Key>
      <Name>Category Description</Name>
      <Alias>categoryDescription</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="details">Details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>06c3aa1d-e9e6-4bbe-9e68-32712bde9027</Key>
      <Name>Category Image</Name>
      <Alias>categoryImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="details">Details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>65a9cb1e-483b-45de-a9a9-33243742cdd1</Key>
      <Name>Name</Name>
      <Alias>categoryName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="details">Details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6cefc99f-e23b-4f10-9582-02aed5200b7e</Key>
      <Caption>Details</Caption>
      <Alias>details</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>