<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3f619531-4cec-472c-b4ed-bbf7f87ea757" Alias="eventPage" Level="1">
  <Info>
    <Name>Event Page</Name>
    <Icon>icon-coffee</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>EventPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="457f5159-626f-4d09-bd88-83be783b0e11">EventPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>