<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dbe0d336-0f0e-43dd-9b9d-5318349ff241" Alias="home" Level="1">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>homepage</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1409923b-3e2b-4a1e-8fee-18cc49a71bc7">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="355e1314-5341-49e9-9a16-de71cb9612c5" SortOrder="0">restaurantPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>17436282-31eb-4909-bfe1-8ae4fe378177</Key>
      <Name>Browse by Category</Name>
      <Alias>browseCategories</Alias>
      <Definition>0f15c17f-e920-454c-b919-5c19d4cbf4e9</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>567f821d-a3a2-46b2-ada1-747fabc7c327</Key>
      <Name>Intro Text</Name>
      <Alias>introText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>33849623-5fe9-47e9-b4d4-aa5c6f66d4a3</Key>
      <Name>Slider Restaurants</Name>
      <Alias>sliderRestaurants</Alias>
      <Definition>1dd7fb6e-2b4e-4d41-ac8f-ffaeb3e1c155</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>27717899-40ad-4902-8a9e-9230dacf756a</Key>
      <Name>Weekly Favorites</Name>
      <Alias>weeklyFavorite</Alias>
      <Definition>93083329-eaff-410f-9ac4-bb06854a0508</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a144de40-18f2-4ead-95c3-cefb4c79eb11</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>