<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="84ab49f9-03c5-4eb4-83f2-c5735ce3caaa" Alias="occasionListings" Level="1">
  <Info>
    <Name>Occasion Listings</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>OccasionListings</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="08e3c1e8-f34b-41b2-980d-571fb9f26f98">OccasionListings</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="fb155024-2658-45f5-bda8-0b5a69c3f781" SortOrder="0">occasion</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>