<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="441f304d-70d7-4f29-b694-d9d4b2fa45b6" Alias="registerPage" Level="1">
  <Info>
    <Name>Register Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>RegisterPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0c6a5695-de2d-49f3-8d1d-256e551d8d06">RegisterPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>