<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e5e2143e-3a76-4978-af51-6d0d37d86f3a" Alias="restaurantListings" Level="1">
  <Info>
    <Name>Restaurant Listings</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>RestaurantListings</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ad215ca5-8330-45bf-9c84-d5d41e4927b3">RestaurantListings</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="355e1314-5341-49e9-9a16-de71cb9612c5" SortOrder="0">restaurantPage</ContentType>
    <ContentType Key="dd004667-695a-4529-8724-9865c16a9ef8" SortOrder="1">category</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>