<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dab8183a-f8f3-467f-af7b-4f1882b91065" Alias="settingsPage" Level="1">
  <Info>
    <Name>Settings Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>SettingsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="31ba411e-11d1-4e27-b71e-9abb41cbff96">SettingsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>