<?xml version="1.0" encoding="utf-8"?>
<Media Key="adc91d3d-66c9-448b-9d42-68cf9924495a" Alias="Asian food.jpg" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/AsianFoodjpg</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-12T12:52:33</CreateDate>
    <NodeName Default="Asian food.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wllj4g3a/asian-food.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>