<?xml version="1.0" encoding="utf-8"?>
<Media Key="8753a53f-742b-4bd9-9433-268bd2f3e849" Alias="breakfast &amp; brunch" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/breakfastBrunch</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-03T12:38:18</CreateDate>
    <NodeName Default="breakfast &amp; brunch" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/wbxbkmkc/breakfastbrunch.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>