<?xml version="1.0" encoding="utf-8"?>
<Media Key="caf25bf1-6b97-45cb-89e0-593df67735b7" Alias="burger" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/burger</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-16T10:13:35</CreateDate>
    <NodeName Default="burger" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/p0ili5h4/burger.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>