<?xml version="1.0" encoding="utf-8"?>
<Media Key="a7483bf7-c241-45f3-ab3c-0fb3f4f8767b" Alias="coffee" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/coffee</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-03T12:39:29</CreateDate>
    <NodeName Default="coffee" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/pdyb2eji/coffee.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>