<?xml version="1.0" encoding="utf-8"?>
<Media Key="060e186b-0012-4ee2-abf6-653f872dbfae" Alias="dessert &amp; sweets" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/dessertSweets</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-03T12:35:32</CreateDate>
    <NodeName Default="dessert &amp; sweets" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/2tjermd1/dessertssweets.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>