<?xml version="1.0" encoding="utf-8"?>
<Media Key="dc909c5b-b4f8-425d-b90f-09b0a2269884" Alias="Family &amp; Kids" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FamilyKids</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-19T11:44:46</CreateDate>
    <NodeName Default="Family &amp; Kids" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/0rlnm0ur/family-kids.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>