<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d3c6611-9936-4749-ae6e-065abadd299c" Alias="healthy.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/healthypng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-15T10:11:32</CreateDate>
    <NodeName Default="healthy.png" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/t0whvs05/healthy.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>