<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f63ef91-7732-42a4-b3ff-26e0f97477f7" Alias="indian.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/indianjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-15T10:09:55</CreateDate>
    <NodeName Default="indian.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/dysdkok1/indian-food.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>