<?xml version="1.0" encoding="utf-8"?>
<Media Key="8af96f61-2da9-4d84-b14b-87a6e62d5da3" Alias="Life Milestones" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LifeMilestones</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-19T11:42:36</CreateDate>
    <NodeName Default="Life Milestones" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/30sl4pga/life-milestones.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>