<?xml version="1.0" encoding="utf-8"?>
<Media Key="2321a91b-e526-4db2-8595-9850dc709870" Alias="mexican" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/mexican</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-16T10:12:54</CreateDate>
    <NodeName Default="mexican" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/srrhpfkp/mexican.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>