<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd07b578-ff0f-44fe-b74e-15950a894493" Alias="pizza.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/pizzajpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-15T10:10:27</CreateDate>
    <NodeName Default="pizza.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/435fcc1g/pizza.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>