<?xml version="1.0" encoding="utf-8"?>
<Media Key="d021d293-510f-450f-93db-86bbfdce1b3c" Alias="seafood" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/seafood</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-16T10:13:17</CreateDate>
    <NodeName Default="seafood" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/dqmgoztg/seafood.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>