<?xml version="1.0" encoding="utf-8"?>
<Media Key="a4724052-6b1d-419e-8459-f35937b24ee6" Alias="vegan" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/vegan</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-15T10:11:05</CreateDate>
    <NodeName Default="vegan" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/1wfdietu/vegan.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>