<?xml version="1.0" encoding="utf-8"?>
<Media Key="f092b1f7-e695-4a65-bbc0-4eb81318a028" Alias="Work &amp; Networking" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WorkNetworking</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-19T11:35:56</CreateDate>
    <NodeName Default="Work &amp; Networking" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/pb3nirx2/work-networking.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>