<?xml version="1.0" encoding="utf-8"?>
<Content Key="3f1f23a1-0fa3-4bf1-925e-c647a0cc5f1d" Alias="Account" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Account</Path>
    <Trashed>false</Trashed>
    <ContentType>accountPage</ContentType>
    <CreateDate>2025-05-27T12:20:03</CreateDate>
    <NodeName Default="Account" />
    <SortOrder>31</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="15d60985-766c-4fde-a010-853991027771">AccountPage</Template>
  </Info>
  <Properties />
</Content>