<?xml version="1.0" encoding="utf-8"?>
<Content Key="c0e63d1f-78cf-40ae-8c8d-d429c0109976" Alias="After-School Treat" Level="3">
  <Info>
    <Parent Key="96878091-8810-4cb6-9708-617a2eb66ce4">Family &amp; Kids</Parent>
    <Path>/AllOccasions/FamilyKids/AfterSchoolTreat</Path>
    <Trashed>false</Trashed>
    <ContentType>occasionEvent</ContentType>
    <CreateDate>2025-05-28T09:38:37</CreateDate>
    <NodeName Default="After-School Treat" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="4b397d5d-d6ae-4d03-84a2-2be56d907ec4">OccasionEvent</Template>
  </Info>
  <Properties />
</Content>