<?xml version="1.0" encoding="utf-8"?>
<Content Key="e17f1014-afbe-4a6d-ba2c-e3432887014d" Alias="All Occasions" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AllOccasions</Path>
    <Trashed>false</Trashed>
    <ContentType>occasionListings</ContentType>
    <CreateDate>2025-05-20T15:54:27</CreateDate>
    <NodeName Default="All Occasions" />
    <SortOrder>28</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="08e3c1e8-f34b-41b2-980d-571fb9f26f98">OccasionListings</Template>
  </Info>
  <Properties />
</Content>