<?xml version="1.0" encoding="utf-8"?>
<Content Key="97028a38-de36-4b7f-84ab-0ad4742c04ee" Alias="All Restaurants" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AllRestaurants</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurantListings</ContentType>
    <CreateDate>2025-05-20T15:53:09</CreateDate>
    <NodeName Default="All Restaurants" />
    <SortOrder>27</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="8bd9eb58-8732-461a-8a51-dcfca3da4f63">RestaurantListings</Template>
  </Info>
  <Properties />
</Content>