<?xml version="1.0" encoding="utf-8"?>
<Content Key="75764e52-081d-413d-8728-b6fbd1899aa5" Alias="All Restaurants" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AllRestaurants</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurantListings</ContentType>
    <CreateDate>2025-05-19T15:28:38</CreateDate>
    <NodeName Default="All Restaurants" />
    <SortOrder>25</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ad215ca5-8330-45bf-9c84-d5d41e4927b3">RestaurantListings</Template>
  </Info>
  <Properties />
</Content>