<?xml version="1.0" encoding="utf-8"?>
<Content Key="36e1b9ec-8263-4218-b457-2f5ff620e9e8" Alias="Anniversaries" Level="3">
  <Info>
    <Parent Key="75ebadeb-6d45-4889-aa78-0390ca761d73">Romantic &amp; Social</Parent>
    <Path>/AllOccasions/RomanticSocial/Anniversaries</Path>
    <Trashed>false</Trashed>
    <ContentType>occasionEvent</ContentType>
    <CreateDate>2025-05-28T09:29:52</CreateDate>
    <NodeName Default="Anniversaries" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4b397d5d-d6ae-4d03-84a2-2be56d907ec4">OccasionEvent</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Anniversaries]]></Value>
    </title>
  </Properties>
</Content>