<?xml version="1.0" encoding="utf-8"?>
<Content Key="fc530981-7b59-45ce-b687-104e5ebde72c" Alias="another test" Level="3">
  <Info>
    <Parent Key="d4b1d98e-de43-4e76-b485-79d85cf9de4a">Dean &amp; David</Parent>
    <Path>/AllRestaurants/DeanDavid/anotherTest</Path>
    <Trashed>false</Trashed>
    <ContentType>reviews</ContentType>
    <CreateDate>2025-06-12T14:41:16</CreateDate>
    <NodeName Default="another test" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[a test]]></Value>
    </comment>
    <date>
      <Value><![CDATA[2025-06-12T14:41:16]]></Value>
    </date>
    <reviewerName>
      <Value><![CDATA[another test]]></Value>
    </reviewerName>
    <reviewRating>
      <Value><![CDATA[4]]></Value>
    </reviewRating>
  </Properties>
</Content>