<?xml version="1.0" encoding="utf-8"?>
<Content Key="27192080-6022-438e-ae87-cbd9ce172c9b" Alias="Asian" Level="2">
  <Info>
    <Parent Key="75764e52-081d-413d-8728-b6fbd1899aa5">All Restaurants</Parent>
    <Path>/AllRestaurants/Asian</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2025-05-19T13:11:45</CreateDate>
    <NodeName Default="Asian" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryImage>
      <Value><![CDATA[[
  {
    "key": "f6fd0b5b-6ada-40bc-b2b8-c16e345272cd",
    "mediaKey": "c087c984-61de-4e61-afc9-dfb959704e64",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </categoryImage>
    <categoryName>
      <Value><![CDATA[Asian]]></Value>
    </categoryName>
  </Properties>
</Content>