<?xml version="1.0" encoding="utf-8"?>
<Content Key="821f37c8-67c5-4ace-a7cd-49249eb4a885" Alias="Asian" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Asian</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>restaurantPage</ContentType>
    <CreateDate>2025-05-15T10:15:47</CreateDate>
    <NodeName Default="Asian" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="68772ef4-8ecd-4454-a49b-b852ff25ee2e">RestaurantPage</Template>
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[[
  "Asian kitchen"
]]]></Value>
    </category>
    <description>
      <Value><![CDATA[Asian kitchen ]]></Value>
    </description>
    <image>
      <Value><![CDATA[[
  {
    "key": "28a22e3c-9f23-4857-a09c-dc2bd66c952b",
    "mediaKey": "c087c984-61de-4e61-afc9-dfb959704e64",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <rating>
      <Value><![CDATA[3]]></Value>
    </rating>
    <restaurantName>
      <Value><![CDATA[Asian]]></Value>
    </restaurantName>
  </Properties>
</Content>