<?xml version="1.0" encoding="utf-8"?>
<Content Key="bd146042-a195-41b3-a738-765100f0b8e6" Alias="Bakeries" Level="2">
  <Info>
    <Parent Key="75764e52-081d-413d-8728-b6fbd1899aa5">All Categories</Parent>
    <Path>/AllCategories/Bakeries</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2025-05-28T15:24:14</CreateDate>
    <NodeName Default="Bakeries" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4343ec51-1709-476b-a863-480a0006d0bf">categoryPage</Template>
  </Info>
  <Properties>
    <categoryDescription>
      <Value><![CDATA[Bakeries]]></Value>
    </categoryDescription>
    <categoryImage>
      <Value><![CDATA[[
  {
    "key": "1c0e2149-03af-460b-b30e-5e365ce9ac48",
    "mediaKey": "a85572b4-b6ad-424b-8171-556ab3709dd4",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </categoryImage>
    <categoryName>
      <Value><![CDATA[Bakeries]]></Value>
    </categoryName>
  </Properties>
</Content>