<?xml version="1.0" encoding="utf-8"?>
<Content Key="c0cd06a2-c92d-4ebf-9b91-de6c8bc93369" Alias="Breakfast &amp; Brunch" Level="2">
  <Info>
    <Parent Key="75764e52-081d-413d-8728-b6fbd1899aa5">All Categories</Parent>
    <Path>/AllCategories/BreakfastBrunch</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2025-05-28T15:23:25</CreateDate>
    <NodeName Default="Breakfast &amp; Brunch" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4343ec51-1709-476b-a863-480a0006d0bf">categoryPage</Template>
  </Info>
  <Properties>
    <categoryDescription>
      <Value><![CDATA[Breakfast and brunch spots]]></Value>
    </categoryDescription>
    <categoryImage>
      <Value><![CDATA[[
  {
    "key": "825270c4-16f5-4cf1-8d69-3a50bc431e99",
    "mediaKey": "8753a53f-742b-4bd9-9433-268bd2f3e849",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </categoryImage>
    <categoryName>
      <Value><![CDATA[Breakfast & Brunch]]></Value>
    </categoryName>
  </Properties>
</Content>