<?xml version="1.0" encoding="utf-8"?>
<Content Key="813ee506-de2f-4ecf-8c74-c5f933f88c78" Alias="Brot und Sinne" Level="2">
  <Info>
    <Parent Key="97028a38-de36-4b7f-84ab-0ad4742c04ee">All Restaurants</Parent>
    <Path>/AllRestaurants/BrotUndSinne</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurantPage</ContentType>
    <CreateDate>2025-06-06T09:52:29</CreateDate>
    <NodeName Default="Brot und Sinne" />
    <SortOrder>8</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="68772ef4-8ecd-4454-a49b-b852ff25ee2e">RestaurantPage</Template>
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[Bakery Street]]></Value>
    </address>
    <category>
      <Value><![CDATA[umb://document/bd146042a19541b3a738765100f0b8e6,umb://document/95a0b53f2b3f48049f3e7ab4faafd616,umb://document/2ea95438cdd34ed88ce7e5b10883dde7]]></Value>
    </category>
    <description>
      <Value><![CDATA[Delicious breads and pastries baked fresh every morning!]]></Value>
    </description>
    <email>
      <Value><![CDATA[bakery@mail.de]]></Value>
    </email>
    <image>
      <Value><![CDATA[[
  {
    "key": "77c55fa3-ad4d-43d1-8854-0e6b45478da5",
    "mediaKey": "a85572b4-b6ad-424b-8171-556ab3709dd4",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <occasion>
      <Value><![CDATA[]]></Value>
    </occasion>
    <openingHours>
      <Value><![CDATA[8:00 - 15:00]]></Value>
    </openingHours>
    <phone>
      <Value><![CDATA[+49 176 12345678]]></Value>
    </phone>
    <rating>
      <Value><![CDATA[4]]></Value>
    </rating>
    <restaurantName>
      <Value><![CDATA[Brot und Sinne]]></Value>
    </restaurantName>
    <reviews>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f378f76f-51ac-43ee-9da1-d8d2e89247cf",
      "key": "f21ed184-6d4c-4414-9033-b9b58a14d8ff",
      "udi": null,
      "values": [
        {
          "alias": "reviewerName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Shannon O\u0027Keefe"
        },
        {
          "alias": "reviewRating",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "3"
        },
        {
          "alias": "date",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2025-06-04T00:00:00"
        },
        {
          "alias": "comment",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Good but overpriced"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "f378f76f-51ac-43ee-9da1-d8d2e89247cf",
      "key": "69ef9c9a-82ba-437f-9067-97c821dda827",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "f21ed184-6d4c-4414-9033-b9b58a14d8ff",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "f21ed184-6d4c-4414-9033-b9b58a14d8ff",
        "contentUdi": null,
        "settingsKey": "69ef9c9a-82ba-437f-9067-97c821dda827",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </reviews>
    <websiteUrl>
      <Value><![CDATA[]]></Value>
    </websiteUrl>
  </Properties>
</Content>