<?xml version="1.0" encoding="utf-8"?>
<Content Key="ccf89271-15c8-4a23-ab15-5101c6c3415b" Alias="Burgers &amp; Sandwiches" Level="2">
  <Info>
    <Parent Key="75764e52-081d-413d-8728-b6fbd1899aa5">All Categories</Parent>
    <Path>/AllCategories/BurgersSandwiches</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2025-05-19T13:27:14</CreateDate>
    <NodeName Default="Burgers &amp; Sandwiches" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4343ec51-1709-476b-a863-480a0006d0bf">categoryPage</Template>
  </Info>
  <Properties>
    <categoryDescription>
      <Value><![CDATA[Burgers restaurant]]></Value>
    </categoryDescription>
    <categoryImage>
      <Value><![CDATA[[
  {
    "key": "09994f34-df9e-4cea-8b9a-d1d6a752f4e8",
    "mediaKey": "caf25bf1-6b97-45cb-89e0-593df67735b7",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </categoryImage>
    <categoryName>
      <Value><![CDATA[Burgers & Sandwiches]]></Value>
    </categoryName>
  </Properties>
</Content>