<?xml version="1.0" encoding="utf-8"?>
<Content Key="c397980a-d05d-44ec-8bd2-2b350ee6ac25" Alias="Burger Restaurant" Level="2">
  <Info>
    <Parent Key="97028a38-de36-4b7f-84ab-0ad4742c04ee">All Restaurants</Parent>
    <Path>/AllRestaurants/BurgerRestaurant</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurantPage</ContentType>
    <CreateDate>2025-05-16T10:15:57</CreateDate>
    <NodeName Default="Burger Restaurant" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="68772ef4-8ecd-4454-a49b-b852ff25ee2e">RestaurantPage</Template>
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[]]></Value>
    </address>
    <category>
      <Value><![CDATA[umb://document/ccf8927115c84a23ab155101c6c3415b]]></Value>
    </category>
    <description>
      <Value><![CDATA[Burgers & more]]></Value>
    </description>
    <email>
      <Value><![CDATA[]]></Value>
    </email>
    <image>
      <Value><![CDATA[[
  {
    "key": "d4a6fd7f-7f75-49e6-80af-399c7e202557",
    "mediaKey": "caf25bf1-6b97-45cb-89e0-593df67735b7",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <occasion>
      <Value><![CDATA[umb://document/75ebadeb6d454889aa780390ca761d73]]></Value>
    </occasion>
    <openingHours>
      <Value><![CDATA[]]></Value>
    </openingHours>
    <phone>
      <Value><![CDATA[]]></Value>
    </phone>
    <rating>
      <Value><![CDATA[3]]></Value>
    </rating>
    <restaurantName>
      <Value><![CDATA[Burger]]></Value>
    </restaurantName>
    <reviews>
      <Value><![CDATA[]]></Value>
    </reviews>
    <websiteUrl>
      <Value><![CDATA[]]></Value>
    </websiteUrl>
  </Properties>
</Content>