<?xml version="1.0" encoding="utf-8"?>
<Content Key="c397980a-d05d-44ec-8bd2-2b350ee6ac25" Alias="Burger Restaurant" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BurgerRestaurant</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurantPage</ContentType>
    <CreateDate>2025-05-16T10:15:57</CreateDate>
    <NodeName Default="Burger Restaurant" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="68772ef4-8ecd-4454-a49b-b852ff25ee2e">RestaurantPage</Template>
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[[
  "Burgers \u0026 Sandwiches"
]]]></Value>
    </category>
    <description>
      <Value><![CDATA[Burgers & more]]></Value>
    </description>
    <image>
      <Value><![CDATA[[
  {
    "key": "d4a6fd7f-7f75-49e6-80af-399c7e202557",
    "mediaKey": "caf25bf1-6b97-45cb-89e0-593df67735b7",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <rating>
      <Value><![CDATA[3]]></Value>
    </rating>
    <restaurantName>
      <Value><![CDATA[Burger]]></Value>
    </restaurantName>
  </Properties>
</Content>