<?xml version="1.0" encoding="utf-8"?>
<Content Key="038f6a54-73ab-4778-9006-fcb45be931b1" Alias="Chrislie M" Level="3">
  <Info>
    <Parent Key="4a9d5e6d-c68a-479d-b60b-dfd83a52fd62">Vegan Restaurant</Parent>
    <Path>/AllRestaurants/VeganRestaurant/ChrislieM</Path>
    <Trashed>false</Trashed>
    <ContentType>reviews</ContentType>
    <CreateDate>2025-06-06T10:40:56</CreateDate>
    <NodeName Default="Chrislie M" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hi, Hey, Hello]]></Value>
    </comment>
    <date>
      <Value><![CDATA[2025-06-06T10:40:56]]></Value>
    </date>
    <reviewerName>
      <Value><![CDATA[Chrislie M]]></Value>
    </reviewerName>
    <reviewRating>
      <Value><![CDATA[3]]></Value>
    </reviewRating>
  </Properties>
</Content>