<?xml version="1.0" encoding="utf-8"?>
<Content Key="563e3ad9-b259-4d39-aedc-168f7528788e" Alias="Client Meals" Level="3">
  <Info>
    <Parent Key="38644f4e-7dc2-46f7-a32d-9a2d0290fdf4">Work &amp; Networking</Parent>
    <Path>/AllOccasions/WorkNetworking/ClientMeals</Path>
    <Trashed>false</Trashed>
    <ContentType>occasionEvent</ContentType>
    <CreateDate>2025-05-28T09:32:19</CreateDate>
    <NodeName Default="Client Meals" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="4b397d5d-d6ae-4d03-84a2-2be56d907ec4">OccasionEvent</Template>
  </Info>
  <Properties />
</Content>