<?xml version="1.0" encoding="utf-8"?>
<Content Key="95a0b53f-2b3f-4804-9f3e-7ab4faafd616" Alias="Coffee Shops" Level="2">
  <Info>
    <Parent Key="75764e52-081d-413d-8728-b6fbd1899aa5">All Categories</Parent>
    <Path>/AllCategories/CoffeeShops</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2025-05-28T15:24:04</CreateDate>
    <NodeName Default="Coffee Shops" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4343ec51-1709-476b-a863-480a0006d0bf">categoryPage</Template>
  </Info>
  <Properties>
    <categoryDescription>
      <Value><![CDATA[Coffee Shops]]></Value>
    </categoryDescription>
    <categoryImage>
      <Value><![CDATA[[
  {
    "key": "9fc8a8bc-5b59-4773-abce-552299d838e3",
    "mediaKey": "a7483bf7-c241-45f3-ab3c-0fb3f4f8767b",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </categoryImage>
    <categoryName>
      <Value><![CDATA[Coffee Shops]]></Value>
    </categoryName>
  </Properties>
</Content>