<?xml version="1.0" encoding="utf-8"?>
<Content Key="862c4816-2703-4dc2-90da-3046b298d268" Alias="Cold Weather Cozy Vibes" Level="3">
  <Info>
    <Parent Key="48361059-ee2e-4b29-8d3d-62be42656070">Seasonal &amp; Occasional</Parent>
    <Path>/AllOccasions/SeasonalOccasional/ColdWeatherCozyVibes</Path>
    <Trashed>false</Trashed>
    <ContentType>occasionEvent</ContentType>
    <CreateDate>2025-05-28T09:33:12</CreateDate>
    <NodeName Default="Cold Weather Cozy Vibes" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="4b397d5d-d6ae-4d03-84a2-2be56d907ec4">OccasionEvent</Template>
  </Info>
  <Properties />
</Content>