<?xml version="1.0" encoding="utf-8"?>
<Content Key="ecbf1eb2-09d7-419c-a923-b92bd37d639a" Alias="Community &amp; Culture" Level="2">
  <Info>
    <Parent Key="e17f1014-afbe-4a6d-ba2c-e3432887014d">All Occasions</Parent>
    <Path>/AllOccasions/CommunityCulture</Path>
    <Trashed>false</Trashed>
    <ContentType>occasion</ContentType>
    <CreateDate>2025-05-19T12:02:05</CreateDate>
    <NodeName Default="Community &amp; Culture" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4da199ab-d285-4164-b6b1-a891362f1ce1">occasionListings</Template>
  </Info>
  <Properties>
    <occasionEvents>
      <Value><![CDATA[Farmer’s Market Days – brunch after the market
First Fridays / Art Walks – artsy cafés or themed pop-ups
Food Festivals / Local Events – tie restaurants to event locations
Live Music Nights – restaurants with local performers
Sports Game Nights – bars with TVs, wings, beer]]></Value>
    </occasionEvents>
    <occasionImage>
      <Value><![CDATA[[
  {
    "key": "a328a138-c655-46db-875d-83f569548e33",
    "mediaKey": "ef7b4a91-008c-4e89-badb-88d445c633de",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </occasionImage>
    <occasionName>
      <Value><![CDATA[Community & Culture]]></Value>
    </occasionName>
  </Properties>
</Content>