<?xml version="1.0" encoding="utf-8"?>
<Content Key="144a0b91-cc87-4e7c-a9ce-e4cf64056b1a" Alias="Date Night" Level="3">
  <Info>
    <Parent Key="75ebadeb-6d45-4889-aa78-0390ca761d73">Romantic &amp; Social</Parent>
    <Path>/AllOccasions/RomanticSocial/DateNight</Path>
    <Trashed>false</Trashed>
    <ContentType>occasionEvent</ContentType>
    <CreateDate>2025-05-28T09:29:10</CreateDate>
    <NodeName Default="Date Night" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4b397d5d-d6ae-4d03-84a2-2be56d907ec4">OccasionEvent</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Date Night]]></Value>
    </title>
  </Properties>
</Content>