<?xml version="1.0" encoding="utf-8"?>
<Content Key="2ea95438-cdd3-4ed8-8ce7-e5b10883dde7" Alias="Desserts &amp; Sweets" Level="2">
  <Info>
    <Parent Key="75764e52-081d-413d-8728-b6fbd1899aa5">All Categories</Parent>
    <Path>/AllCategories/DessertsSweets</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2025-05-28T15:24:48</CreateDate>
    <NodeName Default="Desserts &amp; Sweets" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4343ec51-1709-476b-a863-480a0006d0bf">categoryPage</Template>
  </Info>
  <Properties>
    <categoryDescription>
      <Value><![CDATA[Desserts and Sweets shops]]></Value>
    </categoryDescription>
    <categoryImage>
      <Value><![CDATA[[
  {
    "key": "58fa0771-618b-46a1-9c8d-a3a0fddf9fa1",
    "mediaKey": "060e186b-0012-4ee2-abf6-653f872dbfae",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </categoryImage>
    <categoryName>
      <Value><![CDATA[Desserts & Sweets]]></Value>
    </categoryName>
  </Properties>
</Content>