<?xml version="1.0" encoding="utf-8"?>
<Content Key="96878091-8810-4cb6-9708-617a2eb66ce4" Alias="Family &amp; Kids" Level="2">
  <Info>
    <Parent Key="e17f1014-afbe-4a6d-ba2c-e3432887014d">All Occasions</Parent>
    <Path>/AllOccasions/FamilyKids</Path>
    <Trashed>false</Trashed>
    <ContentType>occasion</ContentType>
    <CreateDate>2025-05-19T09:46:07</CreateDate>
    <NodeName Default="Family &amp; Kids" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4da199ab-d285-4164-b6b1-a891362f1ce1">occasionListings</Template>
  </Info>
  <Properties>
    <occasionEvents>
      <Value><![CDATA[After-School Treat – ice cream shops, fast casual bites
Birthday Parties – places with group space or fun themes
Family Dinner – family-friendly menus and spaces
Weekend Brunch with Kids – stroller-friendly places, kids’ menus]]></Value>
    </occasionEvents>
    <occasionImage>
      <Value><![CDATA[[
  {
    "key": "aa291bd6-cda9-438b-aef8-5ca22e694443",
    "mediaKey": "dc909c5b-b4f8-425d-b90f-09b0a2269884",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </occasionImage>
    <occasionName>
      <Value><![CDATA[Family & Kids]]></Value>
    </occasionName>
  </Properties>
</Content>