<?xml version="1.0" encoding="utf-8"?>
<Content Key="f37f6fa6-297d-4e0a-b366-3c30dcab6037" Alias="Family &amp; Kids" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/FamilyKids</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>occasion</ContentType>
    <CreateDate>2025-05-19T09:25:31</CreateDate>
    <NodeName Default="Family &amp; Kids" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <occasionImage>
      <Value><![CDATA[[
  {
    "key": "d720835f-9da8-415b-88f2-3050de8683ac",
    "mediaKey": "2321a91b-e526-4db2-8595-9850dc709870",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </occasionImage>
    <occasionName>
      <Value><![CDATA[Family & Kids]]></Value>
    </occasionName>
  </Properties>
</Content>