<?xml version="1.0" encoding="utf-8"?>
<Content Key="6bae9f24-6ea3-4177-845b-64f11830741b" Alias="Family Dinner" Level="3">
  <Info>
    <Parent Key="96878091-8810-4cb6-9708-617a2eb66ce4">Family &amp; Kids</Parent>
    <Path>/AllOccasions/FamilyKids/FamilyDinner</Path>
    <Trashed>false</Trashed>
    <ContentType>occasionEvent</ContentType>
    <CreateDate>2025-05-28T09:39:04</CreateDate>
    <NodeName Default="Family Dinner" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="4b397d5d-d6ae-4d03-84a2-2be56d907ec4">OccasionEvent</Template>
  </Info>
  <Properties />
</Content>