<?xml version="1.0" encoding="utf-8"?>
<Content Key="96878091-8810-4cb6-9708-617a2eb66ce4" Alias="Family &amp; Kids" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FamilyKids</Path>
    <Trashed>false</Trashed>
    <ContentType>occasion</ContentType>
    <CreateDate>2025-05-19T09:46:07</CreateDate>
    <NodeName Default="Family &amp; Kids" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <occasionEvents>
      <Value><![CDATA[Family Dinner – family-friendly menus and spaces
Birthday Parties – places with group space or fun themes
After-School Treat – ice cream shops, fast casual bites
Weekend Brunch with Kids – stroller-friendly places, kids’ menus]]></Value>
    </occasionEvents>
    <occasionImage>
      <Value><![CDATA[[
  {
    "key": "9ed2dc1d-2e39-43f0-a5fa-19cae2381bf0",
    "mediaKey": "8f63ef91-7732-42a4-b3ff-26e0f97477f7",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </occasionImage>
    <occasionName>
      <Value><![CDATA[Family & Kids]]></Value>
    </occasionName>
  </Properties>
</Content>