<?xml version="1.0" encoding="utf-8"?>
<Content Key="1d21bf2b-3ae5-4762-ae8a-2c04c1ccdbe3" Alias="Farmer's Market Days" Level="3">
  <Info>
    <Parent Key="ecbf1eb2-09d7-419c-a923-b92bd37d639a">Community &amp; Culture</Parent>
    <Path>/AllOccasions/CommunityCulture/FarmersMarketDays</Path>
    <Trashed>false</Trashed>
    <ContentType>occasionEvent</ContentType>
    <CreateDate>2025-05-28T09:36:53</CreateDate>
    <NodeName Default="Farmer's Market Days" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="4b397d5d-d6ae-4d03-84a2-2be56d907ec4">OccasionEvent</Template>
  </Info>
  <Properties />
</Content>