<?xml version="1.0" encoding="utf-8"?>
<Content Key="1b383b7a-daa2-4369-a6a4-d1228299424b" Alias="First Friday's/Art Walks" Level="3">
  <Info>
    <Parent Key="ecbf1eb2-09d7-419c-a923-b92bd37d639a">Community &amp; Culture</Parent>
    <Path>/AllOccasions/CommunityCulture/FirstFridaysArtWalks</Path>
    <Trashed>false</Trashed>
    <ContentType>occasionEvent</ContentType>
    <CreateDate>2025-05-28T09:37:18</CreateDate>
    <NodeName Default="First Friday's/Art Walks" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="4b397d5d-d6ae-4d03-84a2-2be56d907ec4">OccasionEvent</Template>
  </Info>
  <Properties />
</Content>