<?xml version="1.0" encoding="utf-8"?>
<Content Key="a69c7612-9b66-41d9-ac33-b33416ea4133" Alias="First Day of School/End of Semester" Level="3">
  <Info>
    <Parent Key="48361059-ee2e-4b29-8d3d-62be42656070">Seasonal &amp; Occasional</Parent>
    <Path>/AllOccasions/SeasonalOccasional/FirstDayOfSchoolEndOfSemester</Path>
    <Trashed>false</Trashed>
    <ContentType>occasionEvent</ContentType>
    <CreateDate>2025-05-28T09:33:37</CreateDate>
    <NodeName Default="First Day of School/End of Semester" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="4b397d5d-d6ae-4d03-84a2-2be56d907ec4">OccasionEvent</Template>
  </Info>
  <Properties />
</Content>