<?xml version="1.0" encoding="utf-8"?>
<Content Key="b63b008c-e13e-48d7-8657-47ee62d11b43" Alias="Girls' Night Out/Guys' Night Out" Level="3">
  <Info>
    <Parent Key="75ebadeb-6d45-4889-aa78-0390ca761d73">Romantic &amp; Social</Parent>
    <Path>/AllOccasions/RomanticSocial/GirlsNightOutGuysNightOut</Path>
    <Trashed>false</Trashed>
    <ContentType>occasionEvent</ContentType>
    <CreateDate>2025-05-28T09:31:27</CreateDate>
    <NodeName Default="Girls' Night Out/Guys' Night Out" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4b397d5d-d6ae-4d03-84a2-2be56d907ec4">OccasionEvent</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Girls' Night Out/Guys' Night Out]]></Value>
    </title>
  </Properties>
</Content>