<?xml version="1.0" encoding="utf-8"?>
<Content Key="98817538-1658-4edf-bc2e-2b3b225ca336" Alias="Gluten-Free Restaurant" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GlutenFreeRestaurant</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurantPage</ContentType>
    <CreateDate>2025-05-16T10:14:52</CreateDate>
    <NodeName Default="Gluten-Free Restaurant" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="68772ef4-8ecd-4454-a49b-b852ff25ee2e">RestaurantPage</Template>
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[[
  "Gluten-Free Options"
]]]></Value>
    </category>
    <description>
      <Value><![CDATA[Gluten-Free Options]]></Value>
    </description>
    <image>
      <Value><![CDATA[[
  {
    "key": "f75d691a-000b-445a-a38e-8c440b28d374",
    "mediaKey": "99d90b8c-ad43-4cdc-835e-dfce6d6e007e",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <rating>
      <Value><![CDATA[4]]></Value>
    </rating>
    <restaurantName>
      <Value><![CDATA[Gluten-Free]]></Value>
    </restaurantName>
  </Properties>
</Content>