<?xml version="1.0" encoding="utf-8"?>
<Content Key="98817538-1658-4edf-bc2e-2b3b225ca336" Alias="Gluten-Free Restaurant" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GlutenFreeRestaurant</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurantPage</ContentType>
    <CreateDate>2025-05-16T10:14:52</CreateDate>
    <NodeName Default="Gluten-Free Restaurant" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="68772ef4-8ecd-4454-a49b-b852ff25ee2e">RestaurantPage</Template>
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[glutenfreestraße 1, 66111 Saarbrücknén]]></Value>
    </address>
    <category>
      <Value><![CDATA[umb://document/ef2b536fc4b24379b2cb1818813f764c]]></Value>
    </category>
    <description>
      <Value><![CDATA[Gluten-Free Options]]></Value>
    </description>
    <email>
      <Value><![CDATA[glutenfree@email.com]]></Value>
    </email>
    <image>
      <Value><![CDATA[[
  {
    "key": "f75d691a-000b-445a-a38e-8c440b28d374",
    "mediaKey": "99d90b8c-ad43-4cdc-835e-dfce6d6e007e",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <openingHours>
      <Value><![CDATA[10:00 - 24:00]]></Value>
    </openingHours>
    <phone>
      <Value><![CDATA[015236552365]]></Value>
    </phone>
    <rating>
      <Value><![CDATA[4]]></Value>
    </rating>
    <restaurantName>
      <Value><![CDATA[Gluten-Free]]></Value>
    </restaurantName>
    <reviews>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f378f76f-51ac-43ee-9da1-d8d2e89247cf",
      "key": "c8e281f9-e5b3-416c-8054-90f46928cf56",
      "udi": null,
      "values": [
        {
          "alias": "reviewerName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Mike"
        },
        {
          "alias": "date",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2025-04-24T00:00:00"
        },
        {
          "alias": "reviewRating",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "4"
        },
        {
          "alias": "comment",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Hi, Hello it\u0027s Mike"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "f378f76f-51ac-43ee-9da1-d8d2e89247cf",
      "key": "075e83e8-b009-4e13-ab56-769a54c3441e",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "c8e281f9-e5b3-416c-8054-90f46928cf56",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "c8e281f9-e5b3-416c-8054-90f46928cf56",
        "contentUdi": null,
        "settingsKey": "075e83e8-b009-4e13-ab56-769a54c3441e",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </reviews>
    <websiteUrl>
      <Value><![CDATA[link]]></Value>
    </websiteUrl>
  </Properties>
</Content>