<?xml version="1.0" encoding="utf-8"?>
<Content Key="ef2b536f-c4b2-4379-b2cb-1818813f764c" Alias="Gluten-Free" Level="2">
  <Info>
    <Parent Key="75764e52-081d-413d-8728-b6fbd1899aa5">All Restaurants</Parent>
    <Path>/AllRestaurants/GlutenFree</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2025-05-19T13:30:27</CreateDate>
    <NodeName Default="Gluten-Free" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryDescription>
      <Value><![CDATA[A Gluten-Free restaurant]]></Value>
    </categoryDescription>
    <categoryImage>
      <Value><![CDATA[[
  {
    "key": "c96f3e43-8c49-4cec-b789-0e4bf6d83146",
    "mediaKey": "99d90b8c-ad43-4cdc-835e-dfce6d6e007e",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </categoryImage>
    <categoryName>
      <Value><![CDATA[Gluten-Free]]></Value>
    </categoryName>
  </Properties>
</Content>