<?xml version="1.0" encoding="utf-8"?>
<Content Key="84218de9-8ec3-4532-a995-396ca5f13c6f" Alias="Graduation Dinners" Level="3">
  <Info>
    <Parent Key="48361059-ee2e-4b29-8d3d-62be42656070">Seasonal &amp; Occasional</Parent>
    <Path>/AllOccasions/SeasonalOccasional/GraduationDinners</Path>
    <Trashed>false</Trashed>
    <ContentType>occasionEvent</ContentType>
    <CreateDate>2025-05-28T09:33:47</CreateDate>
    <NodeName Default="Graduation Dinners" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="4b397d5d-d6ae-4d03-84a2-2be56d907ec4">OccasionEvent</Template>
  </Info>
  <Properties />
</Content>