<?xml version="1.0" encoding="utf-8"?>
<Content Key="d4b1d98e-de43-4e76-b485-79d85cf9de4a" Alias="Healthy Restaurant" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HealthyRestaurant</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurantPage</ContentType>
    <CreateDate>2025-05-15T10:14:23</CreateDate>
    <NodeName Default="Healthy Restaurant" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="68772ef4-8ecd-4454-a49b-b852ff25ee2e">RestaurantPage</Template>
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[healthystraße 32, 66111 Saarbrücken]]></Value>
    </address>
    <category>
      <Value><![CDATA[[
  "Healthy Choices"
]]]></Value>
    </category>
    <description>
      <Value><![CDATA[Healthy Restaurant]]></Value>
    </description>
    <email>
      <Value><![CDATA[healthy@email.de]]></Value>
    </email>
    <image>
      <Value><![CDATA[[
  {
    "key": "a1225a44-4c6b-4799-94bc-5bdc0a66fdb3",
    "mediaKey": "7d3c6611-9936-4749-ae6e-065abadd299c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <openingHours>
      <Value><![CDATA[10:00 - 23:00]]></Value>
    </openingHours>
    <phone>
      <Value><![CDATA[015787885958]]></Value>
    </phone>
    <rating>
      <Value><![CDATA[3]]></Value>
    </rating>
    <restaurantName>
      <Value><![CDATA[Healthy]]></Value>
    </restaurantName>
    <reviews>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f378f76f-51ac-43ee-9da1-d8d2e89247cf",
      "key": "b44fe575-bbd8-4288-b9a9-06a4331575c7",
      "udi": null,
      "values": [
        {
          "alias": "reviewerName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Chrislie"
        },
        {
          "alias": "date",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2025-04-14T00:00:00"
        },
        {
          "alias": "comment",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Hi, Hello, it\u0027s Chrislie, Hi, Hello, it\u0027s Chrislie Hi, Hello, it\u0027s Chrislie, Hi, Hello, it\u0027s Chrislie"
        },
        {
          "alias": "reviewRating",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "5"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "f378f76f-51ac-43ee-9da1-d8d2e89247cf",
      "key": "5f5db6cb-8a97-4c05-b05a-74c15d19c1d3",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "b44fe575-bbd8-4288-b9a9-06a4331575c7",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "b44fe575-bbd8-4288-b9a9-06a4331575c7",
        "contentUdi": null,
        "settingsKey": "5f5db6cb-8a97-4c05-b05a-74c15d19c1d3",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </reviews>
    <websiteUrl>
      <Value><![CDATA[link]]></Value>
    </websiteUrl>
  </Properties>
</Content>