<?xml version="1.0" encoding="utf-8"?>
<Content Key="0c66e181-ae8b-4cda-9c11-5cc0120b27cb" Alias="Healthy Choices" Level="2">
  <Info>
    <Parent Key="75764e52-081d-413d-8728-b6fbd1899aa5">All Restaurants</Parent>
    <Path>/AllRestaurants/HealthyChoices</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2025-05-19T13:29:38</CreateDate>
    <NodeName Default="Healthy Choices" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryDescription>
      <Value><![CDATA[A healthy restaurant]]></Value>
    </categoryDescription>
    <categoryImage>
      <Value><![CDATA[[
  {
    "key": "86cf1d1a-17d5-4e12-ba6c-7b65da4e416e",
    "mediaKey": "7d3c6611-9936-4749-ae6e-065abadd299c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </categoryImage>
    <categoryName>
      <Value><![CDATA[Healthy]]></Value>
    </categoryName>
  </Properties>
</Content>