<?xml version="1.0" encoding="utf-8"?>
<Content Key="398fe3bc-ba71-4a0f-9a06-270815dd6486" Alias="Hello" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Hello</Path>
    <Trashed Parent="e5c4ef51-e000-4f66-8813-4902e7ca7ad5">true</Trashed>
    <ContentType>restaurantPage</ContentType>
    <CreateDate>2025-05-15T13:30:17</CreateDate>
    <NodeName Default="Hello" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="68772ef4-8ecd-4454-a49b-b852ff25ee2e">RestaurantPage</Template>
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[[
  "Indian kitchen"
]]]></Value>
    </category>
    <description>
      <Value><![CDATA[Indian specials]]></Value>
    </description>
    <image>
      <Value><![CDATA[[
  {
    "key": "674a20a2-5081-407f-8400-a9aff9fcd290",
    "mediaKey": "8f63ef91-7732-42a4-b3ff-26e0f97477f7",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <rating>
      <Value><![CDATA[4]]></Value>
    </rating>
    <restaurantName>
      <Value><![CDATA[Hello]]></Value>
    </restaurantName>
  </Properties>
</Content>