<?xml version="1.0" encoding="utf-8"?>
<Content Key="e5c4ef51-e000-4f66-8813-4902e7ca7ad5" Alias="Home Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomePage</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-05-13T10:35:03</CreateDate>
    <NodeName Default="Home Page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1409923b-3e2b-4a1e-8fee-18cc49a71bc7">Home</Template>
  </Info>
  <Properties>
    <browseCategories>
      <Value><![CDATA[umb://document/4700a61d22c340fcb9d4bbe54c280802,umb://document/d4b1d98ede434e76b48579d85cf9de4a,umb://document/821f37c867c54acea7cd49249eb4a885,umb://document/4a9d5e6dc68a479db60bdfd83a52fd62,umb://document/87550d55229a4dc997280c4fad457a06]]></Value>
    </browseCategories>
    <introImage>
      <Value><![CDATA[[
  {
    "key": "121dd1d6-797d-4838-b4b5-0c9ea67435ab",
    "mediaKey": "fc8be9c2-8409-4aab-a44d-936ef9bf8998",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </introImage>
    <introText>
      <Value><![CDATA[Welcome to FoodieGuide! Discover the very best local spots—handpicked each week for every taste.]]></Value>
    </introText>
    <sliderRestaurants>
      <Value><![CDATA[umb://document/4700a61d22c340fcb9d4bbe54c280802,umb://document/d4b1d98ede434e76b48579d85cf9de4a,umb://document/821f37c867c54acea7cd49249eb4a885]]></Value>
    </sliderRestaurants>
    <weeklyFavorite>
      <Value><![CDATA[umb://document/d4b1d98ede434e76b48579d85cf9de4a]]></Value>
    </weeklyFavorite>
  </Properties>
</Content>