<?xml version="1.0" encoding="utf-8"?>
<Content Key="657fa502-6a90-4a65-b27e-e8aa23998ab4" Alias="Indian" Level="2">
  <Info>
    <Parent Key="75764e52-081d-413d-8728-b6fbd1899aa5">All Restaurants</Parent>
    <Path>/AllRestaurants/Indian</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2025-05-19T13:12:16</CreateDate>
    <NodeName Default="Indian" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryDescription>
      <Value><![CDATA[Indian restaurant]]></Value>
    </categoryDescription>
    <categoryImage>
      <Value><![CDATA[[
  {
    "key": "8699824c-dc82-4ecb-b2e0-8cafe77beea1",
    "mediaKey": "8f63ef91-7732-42a4-b3ff-26e0f97477f7",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </categoryImage>
    <categoryName>
      <Value><![CDATA[Indian]]></Value>
    </categoryName>
  </Properties>
</Content>