<?xml version="1.0" encoding="utf-8"?>
<Content Key="87550d55-229a-4dc9-9728-0c4fad457a06" Alias="Indian" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Indian</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurantPage</ContentType>
    <CreateDate>2025-05-15T13:31:25</CreateDate>
    <NodeName Default="Indian" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="68772ef4-8ecd-4454-a49b-b852ff25ee2e">RestaurantPage</Template>
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[[
  "Indian kitchen"
]]]></Value>
    </category>
    <description>
      <Value><![CDATA[Indian specials]]></Value>
    </description>
    <image>
      <Value><![CDATA[[
  {
    "key": "aed65ecd-f566-4aec-976c-a7e45b81d8e7",
    "mediaKey": "8f63ef91-7732-42a4-b3ff-26e0f97477f7",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <rating>
      <Value><![CDATA[3]]></Value>
    </rating>
    <restaurantName>
      <Value><![CDATA[Indian]]></Value>
    </restaurantName>
  </Properties>
</Content>