<?xml version="1.0" encoding="utf-8"?>
<Content Key="5a02df83-df3f-4f06-acd8-ae7dbd812ea9" Alias="Jess Mayap" Level="3">
  <Info>
    <Parent Key="d4b1d98e-de43-4e76-b485-79d85cf9de4a">Healthy Restaurant</Parent>
    <Path>/AllRestaurants/HealthyRestaurant/JessMayap</Path>
    <Trashed>false</Trashed>
    <ContentType>reviews</ContentType>
    <CreateDate>2025-06-06T10:38:21</CreateDate>
    <NodeName Default="Jess Mayap" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="ce5e30ef-d277-442e-a76d-5f034bfa2f52">reviewPage</Template>
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hi, Hello, it's Chalom]]></Value>
    </comment>
    <date>
      <Value><![CDATA[2025-06-06T10:38:21]]></Value>
    </date>
    <reviewerName>
      <Value><![CDATA[Jess Mayap]]></Value>
    </reviewerName>
    <reviewRating>
      <Value><![CDATA[4]]></Value>
    </reviewRating>
  </Properties>
</Content>