<?xml version="1.0" encoding="utf-8"?>
<Content Key="2be8e28e-3786-4fda-a111-ac853cbc2290" Alias="Life Milestones" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LifeMilestones</Path>
    <Trashed>false</Trashed>
    <ContentType>occasion</ContentType>
    <CreateDate>2025-05-19T11:10:03</CreateDate>
    <NodeName Default="Life Milestones" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <occasionEvents>
      <Value><![CDATA[Abi Night – dressy and fun venues
Retirement Parties
Job Offers / Promotions
Moving In/Out Dinners – with roommates or family]]></Value>
    </occasionEvents>
    <occasionImage>
      <Value><![CDATA[[
  {
    "key": "54efee55-dd91-4d8c-b57a-1e50e056a1bb",
    "mediaKey": "caf25bf1-6b97-45cb-89e0-593df67735b7",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </occasionImage>
    <occasionName>
      <Value><![CDATA[Life Milestones]]></Value>
    </occasionName>
  </Properties>
</Content>