<?xml version="1.0" encoding="utf-8"?>
<Content Key="726af7c2-09ad-48dc-ab6e-c05e967a1f5f" Alias="Life Milestones" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LifeMilestones</Path>
    <Trashed>false</Trashed>
    <ContentType>occasion</ContentType>
    <CreateDate>2025-05-19T12:01:24</CreateDate>
    <NodeName Default="Life Milestones" />
    <SortOrder>14</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <occasionEvents>
      <Value><![CDATA[Abi Night – dressy and fun venues
Retirement Parties
Job Offers / Promotions
Moving In/Out Dinners – with roommates or family]]></Value>
    </occasionEvents>
    <occasionImage>
      <Value><![CDATA[[
  {
    "key": "5e925c0c-7a98-4dd4-b43d-e2fd94af4f6a",
    "mediaKey": "8af96f61-2da9-4d84-b14b-87a6e62d5da3",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </occasionImage>
    <occasionName>
      <Value><![CDATA[Life Milestones]]></Value>
    </occasionName>
  </Properties>
</Content>