<?xml version="1.0" encoding="utf-8"?>
<Content Key="726af7c2-09ad-48dc-ab6e-c05e967a1f5f" Alias="Life Milestones" Level="2">
  <Info>
    <Parent Key="e17f1014-afbe-4a6d-ba2c-e3432887014d">All Occasions</Parent>
    <Path>/AllOccasions/LifeMilestones</Path>
    <Trashed>false</Trashed>
    <ContentType>occasion</ContentType>
    <CreateDate>2025-05-19T12:01:24</CreateDate>
    <NodeName Default="Life Milestones" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4da199ab-d285-4164-b6b1-a891362f1ce1">occasionListings</Template>
  </Info>
  <Properties>
    <occasionEvents>
      <Value><![CDATA[Abi Night – dressy and fun venues
Job Offers / Promotions
Moving In/Out Dinners – with roommates or family
Retirement Parties]]></Value>
    </occasionEvents>
    <occasionImage>
      <Value><![CDATA[[
  {
    "key": "5e925c0c-7a98-4dd4-b43d-e2fd94af4f6a",
    "mediaKey": "8af96f61-2da9-4d84-b14b-87a6e62d5da3",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </occasionImage>
    <occasionName>
      <Value><![CDATA[Life Milestones]]></Value>
    </occasionName>
  </Properties>
</Content>