<?xml version="1.0" encoding="utf-8"?>
<Content Key="1453cde8-98e7-4b07-a8d4-e53ec097d14e" Alias="Login" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Login</Path>
    <Trashed>false</Trashed>
    <ContentType>loginPage</ContentType>
    <CreateDate>2025-05-26T13:59:06</CreateDate>
    <NodeName Default="Login" />
    <SortOrder>29</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a45d13f6-671d-4cb6-96b6-bb2ef438f806">LoginPage</Template>
  </Info>
  <Properties />
</Content>