<?xml version="1.0" encoding="utf-8"?>
<Content Key="c89ba684-c909-4daa-8184-32b656b73098" Alias="Mexican Restaurant" Level="2">
  <Info>
    <Parent Key="97028a38-de36-4b7f-84ab-0ad4742c04ee">All Restaurants</Parent>
    <Path>/AllRestaurants/MexicanRestaurant</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurantPage</ContentType>
    <CreateDate>2025-05-16T10:15:24</CreateDate>
    <NodeName Default="Mexican Restaurant" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="68772ef4-8ecd-4454-a49b-b852ff25ee2e">RestaurantPage</Template>
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[]]></Value>
    </address>
    <category>
      <Value><![CDATA[umb://document/e666ebf8ae364cfd827651877488ccbd]]></Value>
    </category>
    <description>
      <Value><![CDATA[Mexican food]]></Value>
    </description>
    <email>
      <Value><![CDATA[]]></Value>
    </email>
    <image>
      <Value><![CDATA[[
  {
    "key": "025c037f-c8b6-4a86-9a49-89c14ebbc0e2",
    "mediaKey": "2321a91b-e526-4db2-8595-9850dc709870",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <occasion>
      <Value><![CDATA[umb://document/9687809188104cb69708617a2eb66ce4,umb://document/38644f4e7dc246f7a32d9a2d0290fdf4]]></Value>
    </occasion>
    <openingHours>
      <Value><![CDATA[]]></Value>
    </openingHours>
    <phone>
      <Value><![CDATA[]]></Value>
    </phone>
    <rating>
      <Value><![CDATA[5]]></Value>
    </rating>
    <restaurantName>
      <Value><![CDATA[Mexican]]></Value>
    </restaurantName>
    <reviews>
      <Value><![CDATA[]]></Value>
    </reviews>
    <websiteUrl>
      <Value><![CDATA[]]></Value>
    </websiteUrl>
  </Properties>
</Content>