<?xml version="1.0" encoding="utf-8"?>
<Content Key="e666ebf8-ae36-4cfd-8276-51877488ccbd" Alias="Mexican" Level="2">
  <Info>
    <Parent Key="75764e52-081d-413d-8728-b6fbd1899aa5">All Restaurants</Parent>
    <Path>/AllRestaurants/Mexican</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2025-05-19T13:27:31</CreateDate>
    <NodeName Default="Mexican" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4343ec51-1709-476b-a863-480a0006d0bf">categoryPage</Template>
  </Info>
  <Properties>
    <categoryDescription>
      <Value><![CDATA[Mexican restaurant]]></Value>
    </categoryDescription>
    <categoryImage>
      <Value><![CDATA[[
  {
    "key": "ccdb05d6-96c6-417e-afcb-0a40a6de837e",
    "mediaKey": "2321a91b-e526-4db2-8595-9850dc709870",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </categoryImage>
    <categoryName>
      <Value><![CDATA[Mexican]]></Value>
    </categoryName>
  </Properties>
</Content>