<?xml version="1.0" encoding="utf-8"?>
<Content Key="0a286b4a-e868-444d-910d-883828da4e9a" Alias="Mike Gayap" Level="3">
  <Info>
    <Parent Key="d4b1d98e-de43-4e76-b485-79d85cf9de4a">Healthy Restaurant</Parent>
    <Path>/AllRestaurants/HealthyRestaurant/MikeGayap</Path>
    <Trashed>false</Trashed>
    <ContentType>reviews</ContentType>
    <CreateDate>2025-06-06T10:37:13</CreateDate>
    <NodeName Default="Mike Gayap" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="ce5e30ef-d277-442e-a76d-5f034bfa2f52">reviewPage</Template>
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Good, bad and wahala]]></Value>
    </comment>
    <date>
      <Value><![CDATA[2025-06-06T10:37:13]]></Value>
    </date>
    <reviewerName>
      <Value><![CDATA[Mike Gayap]]></Value>
    </reviewerName>
    <reviewRating>
      <Value><![CDATA[3]]></Value>
    </reviewRating>
  </Properties>
</Content>