<?xml version="1.0" encoding="utf-8"?>
<Content Key="07e6d3b4-f874-46e4-94cd-32f27d9e5e64" Alias="Moving In/Out Dinners" Level="3">
  <Info>
    <Parent Key="726af7c2-09ad-48dc-ab6e-c05e967a1f5f">Life Milestones</Parent>
    <Path>/AllOccasions/LifeMilestones/MovingInOutDinners</Path>
    <Trashed>false</Trashed>
    <ContentType>occasionEvent</ContentType>
    <CreateDate>2025-05-28T09:35:32</CreateDate>
    <NodeName Default="Moving In/Out Dinners" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="4b397d5d-d6ae-4d03-84a2-2be56d907ec4">OccasionEvent</Template>
  </Info>
  <Properties />
</Content>