<?xml version="1.0" encoding="utf-8"?>
<Content Key="a72c51a9-ef9d-4b82-867b-da96b5b1df67" Alias="Pizza Restaurant" Level="2">
  <Info>
    <Parent Key="97028a38-de36-4b7f-84ab-0ad4742c04ee">All Restaurants</Parent>
    <Path>/AllRestaurants/PizzaRestaurant</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurantPage</ContentType>
    <CreateDate>2025-05-23T12:17:08</CreateDate>
    <NodeName Default="Pizza Restaurant" />
    <SortOrder>8</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="68772ef4-8ecd-4454-a49b-b852ff25ee2e">RestaurantPage</Template>
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[pizza 1, 66111 Saarbrücken]]></Value>
    </address>
    <category>
      <Value><![CDATA[umb://document/cc536d8dac5f4f2da2ea2d6b0308f0b4]]></Value>
    </category>
    <description>
      <Value><![CDATA[Pizza Restaurant]]></Value>
    </description>
    <email>
      <Value><![CDATA[pizza@email.de]]></Value>
    </email>
    <image>
      <Value><![CDATA[[
  {
    "key": "34c829e4-bb65-4f57-8b4f-4f07191aff56",
    "mediaKey": "bd07b578-ff0f-44fe-b74e-15950a894493",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <openingHours>
      <Value><![CDATA[10:00 - 20:00]]></Value>
    </openingHours>
    <phone>
      <Value><![CDATA[015247889685]]></Value>
    </phone>
    <rating>
      <Value><![CDATA[3]]></Value>
    </rating>
    <restaurantName>
      <Value><![CDATA[Pizza Restaurant]]></Value>
    </restaurantName>
    <reviews>
      <Value><![CDATA[]]></Value>
    </reviews>
    <websiteUrl>
      <Value><![CDATA[link pizza]]></Value>
    </websiteUrl>
  </Properties>
</Content>