<?xml version="1.0" encoding="utf-8"?>
<Content Key="4700a61d-22c3-40fc-b9d4-bbe54c280802" Alias="Pizza" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Pizza</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurantPage</ContentType>
    <CreateDate>2025-05-15T10:12:48</CreateDate>
    <NodeName Default="Pizza" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="68772ef4-8ecd-4454-a49b-b852ff25ee2e">RestaurantPage</Template>
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[[
  "Pizza \u0026 Pasta"
]]]></Value>
    </category>
    <description>
      <Value><![CDATA[Fresh homepage pizza]]></Value>
    </description>
    <image>
      <Value><![CDATA[[
  {
    "key": "4764afab-7038-4ae0-83aa-562b251ac282",
    "mediaKey": "bd07b578-ff0f-44fe-b74e-15950a894493",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <rating>
      <Value><![CDATA[4]]></Value>
    </rating>
    <restaurantName>
      <Value><![CDATA[Pizza]]></Value>
    </restaurantName>
  </Properties>
</Content>