<?xml version="1.0" encoding="utf-8"?>
<Content Key="f784e43e-05d6-44d1-9671-0fc38bf7933b" Alias="Pizza Hut" Level="2">
  <Info>
    <Parent Key="97028a38-de36-4b7f-84ab-0ad4742c04ee">All Restaurants</Parent>
    <Path>/AllRestaurants/PizzaHut</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurantPage</ContentType>
    <CreateDate>2025-06-06T10:29:56</CreateDate>
    <NodeName Default="Pizza Hut" />
    <SortOrder>10</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="68772ef4-8ecd-4454-a49b-b852ff25ee2e">RestaurantPage</Template>
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[Pizza Street]]></Value>
    </address>
    <category>
      <Value><![CDATA[umb://document/cc536d8dac5f4f2da2ea2d6b0308f0b4]]></Value>
    </category>
    <description>
      <Value><![CDATA[Pizza and pasta]]></Value>
    </description>
    <email>
      <Value><![CDATA[pizza@mail.de]]></Value>
    </email>
    <image>
      <Value><![CDATA[[
  {
    "key": "eb4a1e57-537e-40db-ab9c-e6bd8cc72fd5",
    "mediaKey": "bd07b578-ff0f-44fe-b74e-15950a894493",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <occasion>
      <Value><![CDATA[umb://document/68dfc485a606499180fb929d4e84d846,umb://document/c0e63d1f78cf40ae8c8dd429c0109976,umb://document/6bae9f246ea34177845b64f11830741b,umb://document/bcec746d08f34cae851a57f78c3ead72]]></Value>
    </occasion>
    <openingHours>
      <Value><![CDATA[]]></Value>
    </openingHours>
    <phone>
      <Value><![CDATA[+49 176 12345678]]></Value>
    </phone>
    <rating>
      <Value><![CDATA[3]]></Value>
    </rating>
    <restaurantName>
      <Value><![CDATA[Pizza Hut]]></Value>
    </restaurantName>
    <reviews>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f378f76f-51ac-43ee-9da1-d8d2e89247cf",
      "key": "9e34217e-12b8-4f04-9183-8d3121deddb4",
      "udi": null,
      "values": [
        {
          "alias": "reviewerName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Shannon O\u0027Keefe"
        },
        {
          "alias": "date",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2025-05-14T00:00:00"
        },
        {
          "alias": "reviewRating",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "3"
        },
        {
          "alias": "comment",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Its ok"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "f378f76f-51ac-43ee-9da1-d8d2e89247cf",
      "key": "971f166f-cfa2-42e5-9448-7b1da13ff13d",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "9e34217e-12b8-4f04-9183-8d3121deddb4",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "9e34217e-12b8-4f04-9183-8d3121deddb4",
        "contentUdi": null,
        "settingsKey": "971f166f-cfa2-42e5-9448-7b1da13ff13d",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </reviews>
    <websiteUrl>
      <Value><![CDATA[pizza.de]]></Value>
    </websiteUrl>
  </Properties>
</Content>