<?xml version="1.0" encoding="utf-8"?>
<Content Key="cc536d8d-ac5f-4f2d-a2ea-2d6b0308f0b4" Alias="Pizza" Level="2">
  <Info>
    <Parent Key="75764e52-081d-413d-8728-b6fbd1899aa5">All Restaurants</Parent>
    <Path>/AllRestaurants/Pizza</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2025-05-19T12:49:24</CreateDate>
    <NodeName Default="Pizza" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryDescription>
      <Value><![CDATA[Pizza restaurant]]></Value>
    </categoryDescription>
    <categoryImage>
      <Value><![CDATA[[
  {
    "key": "5527e4b4-125b-4715-b74a-db5a38d39a6d",
    "mediaKey": "bd07b578-ff0f-44fe-b74e-15950a894493",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </categoryImage>
    <categoryName>
      <Value><![CDATA[Pizza]]></Value>
    </categoryName>
  </Properties>
</Content>