<?xml version="1.0" encoding="utf-8"?>
<Content Key="830e325f-defb-42a7-92f5-653668885b44" Alias="Register" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Register</Path>
    <Trashed>false</Trashed>
    <ContentType>registerPage</ContentType>
    <CreateDate>2025-05-26T13:59:22</CreateDate>
    <NodeName Default="Register" />
    <SortOrder>30</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="0c6a5695-de2d-49f3-8d1d-256e551d8d06">RegisterPage</Template>
  </Info>
  <Properties />
</Content>