<?xml version="1.0" encoding="utf-8"?>
<Content Key="4fb4683d-9058-4399-9fbb-47cea2566984" Alias="Restaurants" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Restaurants</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>restaurantPage</ContentType>
    <CreateDate>2025-05-19T14:44:03</CreateDate>
    <NodeName Default="Restaurants" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="68772ef4-8ecd-4454-a49b-b852ff25ee2e">RestaurantPage</Template>
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[]]></Value>
    </category>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <rating>
      <Value><![CDATA[]]></Value>
    </rating>
    <restaurantName>
      <Value><![CDATA[]]></Value>
    </restaurantName>
  </Properties>
</Content>