<?xml version="1.0" encoding="utf-8"?>
<Content Key="0b483476-dfc9-4e5e-a6ae-fefaa80a98c2" Alias="Reviews" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Reviews</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>reviews</ContentType>
    <CreateDate>2025-06-06T10:23:37</CreateDate>
    <NodeName Default="Reviews" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[]]></Value>
    </comment>
    <date>
      <Value><![CDATA[]]></Value>
    </date>
    <reviewerName>
      <Value><![CDATA[]]></Value>
    </reviewerName>
    <reviewRating>
      <Value><![CDATA[]]></Value>
    </reviewRating>
  </Properties>
</Content>