<?xml version="1.0" encoding="utf-8"?>
<Content Key="75ebadeb-6d45-4889-aa78-0390ca761d73" Alias="Romantic &amp; Social" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RomanticSocial</Path>
    <Trashed>false</Trashed>
    <ContentType>occasion</ContentType>
    <CreateDate>2025-05-16T14:20:01</CreateDate>
    <NodeName Default="Romantic &amp; Social" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <occasionImage>
      <Value><![CDATA[[
  {
    "key": "9d8fe5bd-19ff-42be-90e9-25dbb290f9bf",
    "mediaKey": "d021d293-510f-450f-93db-86bbfdce1b3c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </occasionImage>
    <occasionName>
      <Value><![CDATA[Romantic & Social]]></Value>
    </occasionName>
  </Properties>
</Content>