<?xml version="1.0" encoding="utf-8"?>
<Content Key="75ebadeb-6d45-4889-aa78-0390ca761d73" Alias="Romantic &amp; Social" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RomanticSocial</Path>
    <Trashed>false</Trashed>
    <ContentType>occasion</ContentType>
    <CreateDate>2025-05-16T14:20:01</CreateDate>
    <NodeName Default="Romantic &amp; Social" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <occasionEvents>
      <Value><![CDATA[Date Night – romantic dinner spots, cozy atmospheres
Anniversaries – special-occasion restaurants
Valentine's Day – themed menus, wine pairings
Girls' Night Out / Guys' Night Out – casual or trendy spots for groups
Engagement Celebrations – champagne bars, intimate venues
Double Dates – somewhere social but not too loud]]></Value>
    </occasionEvents>
    <occasionImage>
      <Value><![CDATA[[
  {
    "key": "bfeac4ef-6bbd-4f54-9174-72bb34a8d004",
    "mediaKey": "42090137-adb5-4d09-96e3-ccfa40b4ea54",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </occasionImage>
    <occasionName>
      <Value><![CDATA[Romantic & Social]]></Value>
    </occasionName>
  </Properties>
</Content>