<?xml version="1.0" encoding="utf-8"?>
<Content Key="75ebadeb-6d45-4889-aa78-0390ca761d73" Alias="Romantic &amp; Social" Level="2">
  <Info>
    <Parent Key="e17f1014-afbe-4a6d-ba2c-e3432887014d">All Occasions</Parent>
    <Path>/AllOccasions/RomanticSocial</Path>
    <Trashed>false</Trashed>
    <ContentType>occasion</ContentType>
    <CreateDate>2025-05-16T14:20:01</CreateDate>
    <NodeName Default="Romantic &amp; Social" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4da199ab-d285-4164-b6b1-a891362f1ce1">occasionListings</Template>
  </Info>
  <Properties>
    <occasionEvents>
      <Value><![CDATA[Anniversaries – special occasion restaurants
Date Night – romantic dinner spots, cozy atmospheres
Double Dates – somewhere social but not too loud
Engagement Celebrations – champagne bars, intimate venues
Girls' Night Out / Guys' Night Out – casual or trendy spots for groups
Valentine's Day – themed menus, wine pairings]]></Value>
    </occasionEvents>
    <occasionImage>
      <Value><![CDATA[[
  {
    "key": "bfeac4ef-6bbd-4f54-9174-72bb34a8d004",
    "mediaKey": "42090137-adb5-4d09-96e3-ccfa40b4ea54",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </occasionImage>
    <occasionName>
      <Value><![CDATA[Romantic & Social]]></Value>
    </occasionName>
  </Properties>
</Content>