<?xml version="1.0" encoding="utf-8"?>
<Content Key="cb5ccd70-f232-49cf-92bb-99e5f182c018" Alias="Seafood" Level="2">
  <Info>
    <Parent Key="75764e52-081d-413d-8728-b6fbd1899aa5">All Restaurants</Parent>
    <Path>/AllRestaurants/Seafood</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2025-05-19T13:29:12</CreateDate>
    <NodeName Default="Seafood" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4343ec51-1709-476b-a863-480a0006d0bf">categoryPage</Template>
  </Info>
  <Properties>
    <categoryDescription>
      <Value><![CDATA[Seafood restaurant]]></Value>
    </categoryDescription>
    <categoryImage>
      <Value><![CDATA[[
  {
    "key": "17620343-d705-40e9-b499-3e67557cbcb6",
    "mediaKey": "d021d293-510f-450f-93db-86bbfdce1b3c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </categoryImage>
    <categoryName>
      <Value><![CDATA[Seafood]]></Value>
    </categoryName>
  </Properties>
</Content>