<?xml version="1.0" encoding="utf-8"?>
<Content Key="cb5ccd70-f232-49cf-92bb-99e5f182c018" Alias="Seafood" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Seafood</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2025-05-19T13:29:12</CreateDate>
    <NodeName Default="Seafood" />
    <SortOrder>22</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryImage>
      <Value><![CDATA[[
  {
    "key": "17620343-d705-40e9-b499-3e67557cbcb6",
    "mediaKey": "d021d293-510f-450f-93db-86bbfdce1b3c",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </categoryImage>
    <categoryName>
      <Value><![CDATA[Seafood]]></Value>
    </categoryName>
  </Properties>
</Content>