<?xml version="1.0" encoding="utf-8"?>
<Content Key="48361059-ee2e-4b29-8d3d-62be42656070" Alias="Seasonal &amp; Occasional" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SeasonalOccasional</Path>
    <Trashed>false</Trashed>
    <ContentType>occasion</ContentType>
    <CreateDate>2025-05-19T11:09:06</CreateDate>
    <NodeName Default="Seasonal &amp; Occasional" />
    <SortOrder>13</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <occasionEvents>
      <Value><![CDATA[Holiday Dinners – Christmas, New Year’s, etc.
Summer Patio Season – outdoor spots, rooftop bars
Rainy Day Comfort Food – cozy, indoor places
Cold Weather Cozy Vibes – soup, fondue, stews
Graduation Dinners – large tables, upscale menus
First Day of School / End of Semester – student-friendly places]]></Value>
    </occasionEvents>
    <occasionImage>
      <Value><![CDATA[[
  {
    "key": "6e4b1844-32bf-4220-96b8-4db64e0c13eb",
    "mediaKey": "7d3c6611-9936-4749-ae6e-065abadd299c",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </occasionImage>
    <occasionName>
      <Value><![CDATA[Seasonal & Occasional]]></Value>
    </occasionName>
  </Properties>
</Content>