<?xml version="1.0" encoding="utf-8"?>
<Content Key="bf9a8020-019f-4d1e-90df-116011e8d198" Alias="Second healthy restaurant" Level="2">
  <Info>
    <Parent Key="97028a38-de36-4b7f-84ab-0ad4742c04ee">All Restaurants</Parent>
    <Path>/AllRestaurants/SecondHealthyRestaurant</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurantPage</ContentType>
    <CreateDate>2025-05-20T11:00:25</CreateDate>
    <NodeName Default="Second healthy restaurant" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="68772ef4-8ecd-4454-a49b-b852ff25ee2e">RestaurantPage</Template>
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[healthystraße 2, 66111 Saarbrücken]]></Value>
    </address>
    <category>
      <Value><![CDATA[umb://document/0c66e181ae8b4cda9c115cc0120b27cb]]></Value>
    </category>
    <description>
      <Value><![CDATA[A second healthy restaurant]]></Value>
    </description>
    <email>
      <Value><![CDATA[healthy@yahoo.de]]></Value>
    </email>
    <image>
      <Value><![CDATA[[
  {
    "key": "0c9ef11a-21d3-4f50-948b-3141ab439327",
    "mediaKey": "7d3c6611-9936-4749-ae6e-065abadd299c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <openingHours>
      <Value><![CDATA[12:00 - 20:00]]></Value>
    </openingHours>
    <phone>
      <Value><![CDATA[015748223589]]></Value>
    </phone>
    <rating>
      <Value><![CDATA[4]]></Value>
    </rating>
    <restaurantName>
      <Value><![CDATA[Second healthy restaurant]]></Value>
    </restaurantName>
    <reviews>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f378f76f-51ac-43ee-9da1-d8d2e89247cf",
      "key": "aea82ea4-a1ac-4e45-9564-969c4d187660",
      "udi": null,
      "values": [
        {
          "alias": "reviewerName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Briel"
        },
        {
          "alias": "date",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2025-05-14T00:00:00"
        },
        {
          "alias": "reviewRating",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "4"
        },
        {
          "alias": "comment",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "A good one"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "f378f76f-51ac-43ee-9da1-d8d2e89247cf",
      "key": "5bef9e35-90e5-403c-a314-5a52428b8875",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "aea82ea4-a1ac-4e45-9564-969c4d187660",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "aea82ea4-a1ac-4e45-9564-969c4d187660",
        "contentUdi": null,
        "settingsKey": "5bef9e35-90e5-403c-a314-5a52428b8875",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </reviews>
    <websiteUrl>
      <Value><![CDATA[LINK]]></Value>
    </websiteUrl>
  </Properties>
</Content>