<?xml version="1.0" encoding="utf-8"?>
<Content Key="0dfab1c8-44fa-4ebe-888d-b4dc2b0df852" Alias="Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsPage</ContentType>
    <CreateDate>2025-05-27T12:20:17</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>32</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="31ba411e-11d1-4e27-b71e-9abb41cbff96">SettingsPage</Template>
  </Info>
  <Properties />
</Content>