<?xml version="1.0" encoding="utf-8"?>
<Content Key="aebfe142-162d-4d16-a9a0-35be8e2c60e8" Alias="Shannon O'Keefe" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ShannonOKeefe</Path>
    <Trashed Parent="0f7e4455-1806-4430-94d1-e53d0f7ad067">true</Trashed>
    <ContentType>reviews</ContentType>
    <CreateDate>2025-06-06T12:57:35</CreateDate>
    <NodeName Default="Shannon O'Keefe" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[very good!]]></Value>
    </comment>
    <date>
      <Value><![CDATA[2025-06-06T12:57:35]]></Value>
    </date>
    <reviewerName>
      <Value><![CDATA[Shannon O'Keefe]]></Value>
    </reviewerName>
    <reviewRating>
      <Value><![CDATA[5]]></Value>
    </reviewRating>
  </Properties>
</Content>