<?xml version="1.0" encoding="utf-8"?>
<Content Key="487a8bf8-1156-4f8e-9384-f49c2d19f6f5" Alias="Sports Game Nights" Level="3">
  <Info>
    <Parent Key="ecbf1eb2-09d7-419c-a923-b92bd37d639a">Community &amp; Culture</Parent>
    <Path>/AllOccasions/CommunityCulture/SportsGameNights</Path>
    <Trashed>false</Trashed>
    <ContentType>occasionEvent</ContentType>
    <CreateDate>2025-05-28T09:38:17</CreateDate>
    <NodeName Default="Sports Game Nights" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="4b397d5d-d6ae-4d03-84a2-2be56d907ec4">OccasionEvent</Template>
  </Info>
  <Properties />
</Content>