<?xml version="1.0" encoding="utf-8"?>
<Content Key="fa7eddc5-bf61-43f0-a873-6b7c5546e07d" Alias="Team Lunches" Level="3">
  <Info>
    <Parent Key="38644f4e-7dc2-46f7-a32d-9a2d0290fdf4">Work &amp; Networking</Parent>
    <Path>/AllOccasions/WorkNetworking/TeamLunches</Path>
    <Trashed>false</Trashed>
    <ContentType>occasionEvent</ContentType>
    <CreateDate>2025-05-28T09:32:45</CreateDate>
    <NodeName Default="Team Lunches" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="4b397d5d-d6ae-4d03-84a2-2be56d907ec4">OccasionEvent</Template>
  </Info>
  <Properties />
</Content>