<?xml version="1.0" encoding="utf-8"?>
<Content Key="9abcca2d-6301-42c6-92ea-7d8bd332bdb0" Alias="Test" Level="3">
  <Info>
    <Parent Key="d4b1d98e-de43-4e76-b485-79d85cf9de4a">Dean &amp; David</Parent>
    <Path>/AllRestaurants/DeanDavid/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>reviews</ContentType>
    <CreateDate>2025-06-12T14:36:22</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[a test]]></Value>
    </comment>
    <date>
      <Value><![CDATA[2025-06-12T14:36:22]]></Value>
    </date>
    <reviewerName>
      <Value><![CDATA[Test]]></Value>
    </reviewerName>
    <reviewRating>
      <Value><![CDATA[3]]></Value>
    </reviewRating>
  </Properties>
</Content>