<?xml version="1.0" encoding="utf-8"?>
<Content Key="fdc365e1-651f-4bcc-8189-7336173ac0a7" Alias="Third Healthy restaurant" Level="2">
  <Info>
    <Parent Key="97028a38-de36-4b7f-84ab-0ad4742c04ee">All Restaurants</Parent>
    <Path>/AllRestaurants/ThirdHealthyRestaurant</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurantPage</ContentType>
    <CreateDate>2025-05-23T10:17:33</CreateDate>
    <NodeName Default="Third Healthy restaurant" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="68772ef4-8ecd-4454-a49b-b852ff25ee2e">RestaurantPage</Template>
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[healthy 3, 66111 Saarbrücken]]></Value>
    </address>
    <category>
      <Value><![CDATA[umb://document/0c66e181ae8b4cda9c115cc0120b27cb]]></Value>
    </category>
    <description>
      <Value><![CDATA[A third healthy restaurant]]></Value>
    </description>
    <email>
      <Value><![CDATA[healthy3@email.de]]></Value>
    </email>
    <image>
      <Value><![CDATA[[
  {
    "key": "ed6746e5-12c2-4847-8d7f-9f34f47a28d8",
    "mediaKey": "7d3c6611-9936-4749-ae6e-065abadd299c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <openingHours>
      <Value><![CDATA[10:00 - 23:00]]></Value>
    </openingHours>
    <phone>
      <Value><![CDATA[0157824558789]]></Value>
    </phone>
    <rating>
      <Value><![CDATA[3]]></Value>
    </rating>
    <restaurantName>
      <Value><![CDATA[A third healthy restaurant]]></Value>
    </restaurantName>
    <reviews>
      <Value><![CDATA[]]></Value>
    </reviews>
    <websiteUrl>
      <Value><![CDATA[link 3]]></Value>
    </websiteUrl>
  </Properties>
</Content>