<?xml version="1.0" encoding="utf-8"?>
<Content Key="6917fd78-cf4a-4784-8a1f-3fa9b8c4a783" Alias="Valentine's Day" Level="3">
  <Info>
    <Parent Key="75ebadeb-6d45-4889-aa78-0390ca761d73">Romantic &amp; Social</Parent>
    <Path>/AllOccasions/RomanticSocial/ValentinesDay</Path>
    <Trashed>false</Trashed>
    <ContentType>occasionEvent</ContentType>
    <CreateDate>2025-05-28T09:31:46</CreateDate>
    <NodeName Default="Valentine's Day" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4b397d5d-d6ae-4d03-84a2-2be56d907ec4">OccasionEvent</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Valentine's Day]]></Value>
    </title>
  </Properties>
</Content>