<?xml version="1.0" encoding="utf-8"?>
<Content Key="4a9d5e6d-c68a-479d-b60b-dfd83a52fd62" Alias="Vegan Restaurant" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/VeganRestaurant</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurantPage</ContentType>
    <CreateDate>2025-05-15T13:30:48</CreateDate>
    <NodeName Default="Vegan Restaurant" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="68772ef4-8ecd-4454-a49b-b852ff25ee2e">RestaurantPage</Template>
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[[
  "Vegan \u0026 Vegetarian"
]]]></Value>
    </category>
    <description>
      <Value><![CDATA[Vegan specials]]></Value>
    </description>
    <image>
      <Value><![CDATA[[
  {
    "key": "25035daf-3396-4bc5-b521-7d829e4442bd",
    "mediaKey": "a4724052-6b1d-419e-8459-f35937b24ee6",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <rating>
      <Value><![CDATA[4]]></Value>
    </rating>
    <restaurantName>
      <Value><![CDATA[Vegan Restaurant]]></Value>
    </restaurantName>
  </Properties>
</Content>