<?xml version="1.0" encoding="utf-8"?>
<Content Key="808770b2-6c8e-48c4-bc28-9ea4b9c014e7" Alias="Vegan" Level="2">
  <Info>
    <Parent Key="75764e52-081d-413d-8728-b6fbd1899aa5">All Restaurants</Parent>
    <Path>/AllRestaurants/Vegan</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2025-05-19T13:28:53</CreateDate>
    <NodeName Default="Vegan" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryImage>
      <Value><![CDATA[[
  {
    "key": "6a466ce4-eb40-44c2-a70b-e878180400ff",
    "mediaKey": "a4724052-6b1d-419e-8459-f35937b24ee6",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </categoryImage>
    <categoryName>
      <Value><![CDATA[Vegan]]></Value>
    </categoryName>
  </Properties>
</Content>