<?xml version="1.0" encoding="utf-8"?>
<Content Key="a1afeb84-729c-48f4-b0f5-eac4ccc48ff8" Alias="Weekend Brunch with Kids" Level="3">
  <Info>
    <Parent Key="96878091-8810-4cb6-9708-617a2eb66ce4">Family &amp; Kids</Parent>
    <Path>/AllOccasions/FamilyKids/WeekendBrunchWithKids</Path>
    <Trashed>false</Trashed>
    <ContentType>occasionEvent</ContentType>
    <CreateDate>2025-05-28T09:39:18</CreateDate>
    <NodeName Default="Weekend Brunch with Kids" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="4b397d5d-d6ae-4d03-84a2-2be56d907ec4">OccasionEvent</Template>
  </Info>
  <Properties />
</Content>