<?xml version="1.0" encoding="utf-8"?>
<Content Key="38644f4e-7dc2-46f7-a32d-9a2d0290fdf4" Alias="Work &amp; Networking" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WorkNetworking</Path>
    <Trashed>false</Trashed>
    <ContentType>occasion</ContentType>
    <CreateDate>2025-05-19T09:25:56</CreateDate>
    <NodeName Default="Work &amp; Networking" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <occasionEvents>
      <Value><![CDATA[Team Lunches – good seating, quick service
Business Dinners – classy but professional vibes
Networking Meetups – lounges, cocktail bars
Client Meals – quiet atmosphere, high service]]></Value>
    </occasionEvents>
    <occasionImage>
      <Value><![CDATA[[
  {
    "key": "f9251fea-5cef-4abe-975c-a5f46059d1f8",
    "mediaKey": "99d90b8c-ad43-4cdc-835e-dfce6d6e007e",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </occasionImage>
    <occasionName>
      <Value><![CDATA[Work & Networking]]></Value>
    </occasionName>
  </Properties>
</Content>