<?xml version="1.0" encoding="utf-8"?>
<Content Key="443875d2-e97d-42ad-a5d1-726d7c9a46e1" Alias="Yoko" Level="2">
  <Info>
    <Parent Key="97028a38-de36-4b7f-84ab-0ad4742c04ee">All Restaurants</Parent>
    <Path>/AllRestaurants/Yoko</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurantPage</ContentType>
    <CreateDate>2025-06-06T10:03:47</CreateDate>
    <NodeName Default="Yoko" />
    <SortOrder>9</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="68772ef4-8ecd-4454-a49b-b852ff25ee2e">RestaurantPage</Template>
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[Yoko Street]]></Value>
    </address>
    <category>
      <Value><![CDATA[umb://document/cb5ccd70f23249cf92bb99e5f182c018,umb://document/271920806022438eae87cbd9ce172c9b,umb://document/0c66e181ae8b4cda9c115cc0120b27cb,umb://document/ef2b536fc4b24379b2cb1818813f764c]]></Value>
    </category>
    <description>
      <Value><![CDATA[Delicious foods from Japan ]]></Value>
    </description>
    <email>
      <Value><![CDATA[yoko@mail.de]]></Value>
    </email>
    <image>
      <Value><![CDATA[[
  {
    "key": "b197d353-a6bb-43b9-aa0f-a6a175b9aa0d",
    "mediaKey": "c087c984-61de-4e61-afc9-dfb959704e64",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <occasion>
      <Value><![CDATA[umb://document/36e1b9ec82634218b4572f5ff620e9e8,umb://document/144a0b91cc874e7ca9cee4cf64056b1a,umb://document/68dfc485a606499180fb929d4e84d846,umb://document/6917fd78cf4a47848a1f3fa9b8c4a783,umb://document/923c716661fa4a7f8ba61d01af00cc27,umb://document/563e3ad9b2594d39aedc168f7528788e,umb://document/1892bc40c8aa46d3920ddaaf9a7e013a,umb://document/fa7eddc5bf6143f0a8736b7c5546e07d,umb://document/a69c76129b6641d9ac33b33416ea4133,umb://document/111e618ec52c46a293cae77a157b2f15,umb://document/6bae9f246ea34177845b64f11830741b]]></Value>
    </occasion>
    <openingHours>
      <Value><![CDATA[12:00 - 23:00]]></Value>
    </openingHours>
    <phone>
      <Value><![CDATA[+49 176 12345678]]></Value>
    </phone>
    <rating>
      <Value><![CDATA[]]></Value>
    </rating>
    <restaurantName>
      <Value><![CDATA[Yoko]]></Value>
    </restaurantName>
    <reviews>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f378f76f-51ac-43ee-9da1-d8d2e89247cf",
      "key": "1639f2de-38e0-4bc4-8523-5428688add6d",
      "udi": null,
      "values": [
        {
          "alias": "reviewerName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Shannon O\u0027Keefe"
        },
        {
          "alias": "date",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2025-06-02T00:00:00"
        },
        {
          "alias": "reviewRating",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "5"
        },
        {
          "alias": "comment",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "good food"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "f378f76f-51ac-43ee-9da1-d8d2e89247cf",
      "key": "063911af-daac-4b07-a1fa-855f5222e04c",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "1639f2de-38e0-4bc4-8523-5428688add6d",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "1639f2de-38e0-4bc4-8523-5428688add6d",
        "contentUdi": null,
        "settingsKey": "063911af-daac-4b07-a1fa-855f5222e04c",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </reviews>
    <websiteUrl>
      <Value><![CDATA[yoko@mail.de]]></Value>
    </websiteUrl>
  </Properties>
</Content>