.login-hr {
  border: 0;                
  height: 2px;              
  background-color: #3b5998;
  width: 40px;              
  margin: 4px auto 20px;      
}

.register-hr {
  border: 0;                 
  height: 2px;               
  background-color: #3b5998; 
  color: white;
  width: 90px;               
  margin: 4px auto 20px;       
}
