@using Umbraco.Cms.Web.Common.PublishedModels
@using Umbraco.Cms.Core.Models

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    Layout = "master.cshtml";
    var name        = Model.Value<string>("restaurantName");
    var desc        = Model.Value<IHtmlContent>("description");
    var img         = Model.Value<IPublishedContent>("image");
    var rating      = Model.Value<int>("rating");
    var categories  = Model.Value<IEnumerable<IPublishedContent>>("category") ?? Enumerable.Empty<IPublishedContent>();
}

<article class="restaurant-detail">
  <h1>@name</h1>
  @if(img != null){
    <img src="@img.Url()" alt="@name" class="detail-image" />
  }
  <div class="meta">
    <span>Rating:
      @for(int i=0; i<rating; i++){ <span>&#9733;</span> }
      @for(int i=rating; i<5; i++){ <span>&#9734;</span> }
    </span>
    <span>Category: @string.Join(", ", categories.Select(x => x.Name))</span>
  </div>
  <div class="description">
    @desc
  </div>
</article>
